:root {
  --title-color: #212121;
  --subtitle-color: #757575;
  --active-color: #2196F3;
  --background-footer: #2F303A;
  --background-team: #F5F4FA;
  --icons: #AFB1B8;
  --indent: 30px;
  --items: 1;
  --slow-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-color: #eee;
  --active-btn: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--subtitle-color);
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

/* 
	|=============================
	| GRID
	|=============================
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* 
	|=============================
	| HEADER 
	|=============================
*/
.header {
  border-bottom: 1px solid var(--border-color);
  letter-spacing: 0.02em;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: color var(--slow-anim);
  transition: color var(--slow-anim);
  color: var(--title-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--active-color);
}

.navigation__link--active {
  position: relative;
  color: var(--active-color);
}
.navigation__link--active::after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--active-color);
  border-radius: 2px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__phone {
  margin-right: 40px;
}
.header__phone:last-child {
  margin-right: 0;
}

.header__email {
  margin-right: 40px;
}
.header__email:last-child {
  margin-right: 0;
}

.header__email--link {
  -webkit-transition: color var(--slow-anim);
  transition: color var(--slow-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
}
.header__email--link:hover, .header__email--link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

.header__phone--link {
  -webkit-transition: color var(--slow-anim);
  transition: color var(--slow-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
}
.header__phone--link:hover, .header__phone--link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

.phone__icon, .email__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* 
	|=============================
	| HERO
	|=============================
*/
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(196, 196, 196);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg-hero.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero.png);
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero__title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}
.hero__btn {
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  cursor: pointer;
  color: #fff;
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

/* 
	|=============================
	| MODAL
	|=============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--slow-anim), visibility var(--slow-anim);
  transition: opacity var(--slow-anim), visibility var(--slow-anim);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--slow-anim);
  transition: -webkit-transform var(--slow-anim);
  transition: transform var(--slow-anim);
  transition: transform var(--slow-anim), -webkit-transform var(--slow-anim);
}

.backdrop .is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.modal-btn {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn__icon {
  -webkit-transition: fill var(--slow-anim);
  transition: fill var(--slow-anim);
}
.modal-btn:hover {
  fill: var(--active-color);
}
.modal-btn:focus {
  outline: 2px solid var(--active-color);
  fill: var(--active-color);
}

/*
	|=============================
	|  MODAL FORM
	|=============================
*/
.modal-form {
  text-align: left;
}

.modal-title {
  text-align: center;
  margin: 0 auto;
  color: var(--title-color);
  font-size: 20px;
  letter-spacing: 0.6px;
}

input[name^=user] {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid var(--icons);
  -webkit-transition: border var(--slow-anim);
  transition: border var(--slow-anim);
}

.modal-form__group {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

span[data-title] {
  font-size: 12px;
  margin-bottom: 4px;
  letter-spacing: 0.12px;
}

.modal-form__comment--user {
  border-radius: 4px;
  border: 1px solid var(--icons);
  margin-bottom: 20px;
  height: 120px;
}

.modal-form__name {
  left: 0;
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-color);
  -webkit-transition: fill var(--slow-anim);
  transition: fill var(--slow-anim);
}

.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  gap: 8px;
  margin-bottom: 30px;
}

.modal-form__policy-desc {
  font-size: 14px;
  line-height: 1.344;
}

.modal-form__policy-link {
  text-decoration: underline;
  color: var(--active-color);
}

.modal-form__custom-chackbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 2px solid var(--title-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: background-color var(--slow-anim), outline var(--slow-anim);
  transition: background-color var(--slow-anim), outline var(--slow-anim);
}

.modal-form__custom-chackbox__icon {
  fill: #fff;
  opacity: 0;
  -webkit-transition: opacity var(--slow-anim);
  transition: opacity var(--slow-anim);
}

.modal-form__checkbox:checked + .modal-form__custom-chackbox {
  background-color: var(--active-color);
  outline: 2px solid var(--active-color);
}

.modal-form__checkbox:checked + .modal-form__custom-chackbox .modal-form__custom-chackbox__icon {
  opacity: 1;
}

.modal-form__checkbox:hover + .modal-form__custom-chackbox, .modal-form__checkbox:focus + .modal-form__custom-chackbox {
  outline: 2px solid var(--active-color);
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--slow-anim);
  transition: background-color var(--slow-anim);
  line-height: 1.875;
  letter-spacing: 0.0597em;
}
.form-btn:hover {
  background-color: var(--active-btn);
}

input[name^=user]:hover, .modal-form__comment--user:hover, .modal-form__comment--user:focus, input[name^=user]:focus {
  border: 1px solid var(--active-color);
  outline: transparent;
}

input[name^=user]:hover ~ .modal-form__icon, input[name^=user]:focus ~ .form-icon {
  fill: var(--active-color);
}

.modal-form__comment--user {
  padding-top: 12px;
  padding-left: 16px;
  -webkit-transition: border var(--slow-anim);
  transition: border var(--slow-anim);
}
.modal-form__comment--user::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment--user::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment--user:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment--user::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment--user::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* 
	|=============================
	| FEATURES
	|=============================
*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-team);
  border-radius: 4px;
}

.features__list--item {
  --items: 4;
  width: 270px;
}
.features__list--item:last-child {
  margin-right: 0;
}

.features__list--title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
}

.ffeatures__list--text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* 
	|=============================
	| PARTNERS
	|=============================
*/
.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners-title {
  font-size: 36px;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

.partners-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --items: 6;
}

.partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-logo {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icons);
  border-radius: 4px;
  fill: var(--icons);
  -webkit-transition: fill var(--slow-anim), border var(--slow-anim);
  transition: fill var(--slow-anim), border var(--slow-anim);
}
.partners-logo:hover, .partners-logo:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

/* 
	|=============================
	| ABOUT
	|=============================
*/
.about {
  padding-bottom: 94px;
}

.about--title {
  margin-bottom: 50px;
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.about__list--item {
  position: relative;
  --items: 3;
}
.about__list--item--subtitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  content: attr(data-title);
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

/* 
	|=============================
	| OUR TEAM
	|=============================
*/
.team {
  background-color: var(--background-team);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list--item {
  background-color: #fff;
  --items: 4;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team__list--item .team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__list--item .team-item-title {
  margin-bottom: 10px;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.team__list--item .team-item-text {
  text-align: center;
  letter-spacing: 0.03em;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icons);
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color var(--slow-anim);
  transition: background-color var(--slow-anim);
}
.social-icon:hover, .social-icon:focus {
  fill: #fff;
  background-color: var(--active-color);
}

.social {
  -webkit-transition: fill var(--slow-anim);
  transition: fill var(--slow-anim);
}

.logo {
  margin-right: 93px;
  color: var(--active-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}

.logo__header {
  color: #000;
}

.logo-footer {
  color: #fff;
}

/* 
	|=============================
	| PORTFOLIO
	|=============================
*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* 
	|=============================
	| FILTER CARDS
	|=============================
*/
.cards {
  --items: 3;
  margin-top: 50px;
}

.card-title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.card-item {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--slow-anim);
  transition: -webkit-box-shadow var(--slow-anim);
  transition: box-shadow var(--slow-anim);
  transition: box-shadow var(--slow-anim), -webkit-box-shadow var(--slow-anim);
}
.card-item:hover, .card-item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-text {
  color: var(--subtitle-color);
  letter-spacing: 0.03em;
  line-height: 1.875;
}

.content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.card-content {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-description {
  position: absolute;
  bottom: -100%;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 294px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
.card:hover .card-description, .card:focus .card-description {
  bottom: 0;
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.desc-text {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* 
	|=============================
	| FILTER BUTTON
	|=============================
*/
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  margin-right: 8px;
}
.btn:last-child {
  margin-right: 0;
}

.btn button {
  padding: 6px 22px;
  background-color: var(--background-team);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  -webkit-transition: background-color var(--slow-anim), color var(--slow-anim), -webkit-box-shadow var(--slow-anim);
  transition: background-color var(--slow-anim), color var(--slow-anim), -webkit-box-shadow var(--slow-anim);
  transition: background-color var(--slow-anim), color var(--slow-anim), box-shadow var(--slow-anim);
  transition: background-color var(--slow-anim), color var(--slow-anim), box-shadow var(--slow-anim), -webkit-box-shadow var(--slow-anim);
}
.btn button:hover, .btn button:focus {
  background-color: var(--active-color);
  color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn-active button {
  background-color: var(--active-color);
  color: #fff;
}

/* 
	|=============================
	| FOOTER
	|=============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
  color: #fff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__address {
  margin-right: 70px;
}

.address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
}
.address__text {
  margin-bottom: 12px;
}

.address__list--item {
  margin-bottom: 12px;
}
.address__list--item:last-child {
  margin-bottom: 0;
}

.address__list--link {
  opacity: 0.6;
  color: #fff;
  -webkit-transition: opacity var(--slow-anim);
  transition: opacity var(--slow-anim);
}
.address__list--link:hover, .address__list--link:focus {
  opacity: 1;
}

.footer__social--text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__social--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #fff;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--slow-anim);
  transition: background-color var(--slow-anim);
}
.footer__social--link:hover, .footer__social--link:focus {
  background-color: var(--active-color);
}

.footer__form {
  width: 100%;
}
.footer__form--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__form--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__form--label--icon {
  fill: #fff;
}

.footer__form--label--email {
  outline: transparent;
  width: 358px;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--icons);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--icons);
  -webkit-transition: border var(--slow-anim);
  transition: border var(--slow-anim);
}
.footer__form--label--email:focus {
  border: 1px solid var(--active-color);
  outline: transparent;
}
.footer__form--label:hover .footer__form--label--email {
  border: 1px solid var(--active-color);
  outline: transparent;
}

.footer__form--label--btn {
  height: auto;
  background-color: var(--active-color);
  cursor: pointer;
  color: #fff;
  padding: 10px 28px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: background-color var(--slow-anim);
  transition: background-color var(--slow-anim);
}
.footer__form--label--btn:hover {
  background-color: var(--active-btn);
}/*# sourceMappingURL=main.css.map */