/* 
	|=============================
	| ABOUT
	|=============================
*/

.about {
	padding-bottom: 94px;
}

.about--title {
	margin-bottom: 50px;
	color: var(--title-color);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
}

.about__list--item {
	position: relative;
	--items: 3;

	&--subtitle{
		position: absolute;
		display: flex;
		justify-content: center;
		padding-top: 27px;
		padding-bottom: 27px;
		content: attr(data-title);
		width: 100%;
		left: 0;
		bottom: 0;	
		background: rgba(47, 48, 58, 0.80);
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
	}
}

