/* 
	|=============================
	| FILTER CARDS
	|=============================
*/

.cards {
	--items: 3;
	margin-top: 50px;	
}

.card-title {
	margin-bottom: 4px;
	color: var(--title-color);
	font-size: 18px;
	letter-spacing: .06em;
	line-height: 2;
}

.card-item{
	display: block;	
	transition: box-shadow var(--slow-anim);
	&:hover,
	&:focus{	
		box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	}
}



.card-text {
	color: var(--subtitle-color);
	letter-spacing: .03em;
	line-height: 1.875;
}

.content {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

.card-content{
	position: relative;
	display: block;
	overflow: hidden;
}

.card-description {
	position: absolute;
	bottom: -100%;
	left: 0;
	background: rgba(33, 150, 243, 0.90);
	display: flex;
	align-items: center;
	width: 100%;
	height: 294px;
	padding-left: 24px;
	padding-right: 24px;
	transition: var(--slow-anim);

	.card:hover &,
	.card:focus &{	
		bottom: 0;
		box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	}
}

.desc-text {
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
}

