/* 
	|=============================
	| HEADER 
	|=============================
*/

.header {
	border-bottom: 1px solid var(--border-color);
	letter-spacing: 0.02em;

	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		@include mq(tab){
			height: 80px;
		}
	}
}

.navigation{
	&__list {
		display: none;
		margin: 0;
		padding: 0;
		align-items: center;
		
		@include mq(tab){
			display: flex;			
		}
	}
	@include mq(tab){
		margin-left: 88px;		
	}

	@include mq(desc){
		margin-left: 0;		
	}
}

.navigation__item {
	margin-right: 50px;
	
	&:last-child {
		margin-right: 0;
	}
}

.navigation__link{
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	transition: color var(--slow-anim);
	color: var(--title-color);

	&:hover,
	&:focus {
		color: var(--active-color);
	}
}

.navigation__link--active {
	position: relative;
	color: var(--active-color);
	
	&::after{
		position: absolute;
		display: block;
		left: 0;
		bottom: 0;
		content: "";
		height: 4px;
		width: 100%;
		background-color: var(--active-color);
		border-radius: 2px;
	}
}

.header{
	&__contact {
		display: none;
		margin-left: auto;
		@include mq(tab){
			display: flex;
			flex-direction: column;
		}
		@include mq(desc){			
			flex-direction: row;
			align-items: baseline;
			gap: 30px;
		}
	}
}

.header__phone {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}		
}

.header__email {
	// margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.header__email--link {
	transition: color var(--slow-anim);
	display: flex;
	align-items: center;
	color: currentColor;
	font-weight: 500;
	font-size: 12px;
	@include mq(desc){
		font-size: 14px;
	}

	&:hover,
	&:focus{
		color: var(--active-color);
		fill: var(--active-color);
	} 
}

.header__phone--link {
	transition: color var(--slow-anim);
	display: flex;
	align-items: center;
	color: currentColor;
	font-weight: 500;
	font-size: 12px;
	margin-top: 10px;
	@include mq(desc){
		font-size: 14px;
	}

	&:hover,
	&:focus{
		color: var(--active-color);
		fill: var(--active-color);
	} 
}

.phone__icon, .email__icon{
	fill: currentColor;
	margin-right: 10px;
}