.logo {
	
	color: var(--active-color);
	font-family: Raleway;
	font-weight: 700;
	font-size: 24px;
	// margin-right: 88px;

	@include mq(desc){
		margin-right: 93px;
		font-size: 26px;
	}
}

.logo__header {
	color: #000;
}

.logo-footer {
	color: #fff;
}
