/* 
	|=============================
	| MOBILE MENU
	|=============================
*/

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-left: 40px;
	padding-top: 48px;
	background-color: #fff ;
	z-index: 999;
	transform: translateX(100%);
	transition: transform var(--slow-anim);
}

.menu-container.is-open {
	transform: translateX(0);
 }

.menu-toggle {
	border: none;
	background-color: transparent;
	cursor: pointer;
	@include mq(tab){
		display: none;
	}
	&:hover, &:focus{
		fill: var(--active-color);			
	}
}

.js-close-menu{
	position: absolute;
	top: 10px;
	right: 15px;
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding-bottom: 48px;

	// .mobile-nav__item
	&__item{
		margin-bottom: 32px;
	}

}

.mobile-nav__link{
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.8px ;
	color: var(--title-color);
	transition: color var(--slow-anim);
	&:hover, &:focus{
		color: var(--active-color);
	}
}

.mobile-nav__link--active{
	color: var(--active-color);
}


.mobile-contact {

	// .mobile-contact__tel

	&__tel {
		margin-bottom: 32px;
	}

	// .mobile-contact__tel--link

	&__tel--link {
		font-size: 34px;
		font-weight: 500;
		color: var(--active-color);
		letter-spacing: 0.68px;
	}

	// .mobile-contact__email

	&__email {
		margin-bottom: 64px;
	}

	// .mobile-contact__email--link

	&__email--link {
		font-size: 24px;
		font-weight: 500;
		letter-spacing: 0.48px;
		color: var(--subtitle-color);
	}
}
.mobile-social {	

	// .mobile-social__list

	&__list {
		display: flex;

	}

	// .mobile-social__list--item

	&__list--item {
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px solid var(--active-color);
		&:first-child {
			padding-left: 0;			
		}
		&:last-child{
			border: none;
		}
	}

	// .mobile-social__list--link

	&__list--link {		
		color: var(--active-color);
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0.36px;	
	}
}
