/* 
	|=============================
	| PARTNERS
	|=============================
*/

.partners {
	padding-top: 60px;
	padding-bottom: 60px;

	@include mq(desc){
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.partners-title {
	font-size: 28px;
	color: var(--title-color);
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 0.84px;

	@include mq(desc){
		font-size: 36px;
		margin-bottom: 50px;
	}
}
.partners-items {
	display: flex;
	--items: 2;

	@include mq(tab){
		--items: 3;
	}

	@include mq(desc){
		--items: 6;
	}
}

.partners-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.partners-logo {
	width: 210px;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;	
	border: 1px solid var(--icons);
	border-radius: 4px;
	fill: var(--icons);
	transition: fill var(--slow-anim), border var(--slow-anim);

	&:hover,
	&:focus{
	fill: var(--active-color);
	border: 1px solid var(--active-color);

	@include mq(tab){
		width: 226px;
		height: 92px;		
	}

	@include mq(desc){
		width: 170px;
		height: 92px;		
	}
}
}

